.title {
  font-family: Rubik;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 70px;
  color: rgb(73, 186, 230);
  text-align: center;
}

.rowOne {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 30px;
}

.rowTwo {
  font-size: 70px;
}

@media (max-width: 480px) {
  .rowOne {
    font-size: 60px;
  }

  .rowTwo {
    font-size: 40px;
  }
}
