.navLinks {
  border: 1px solid #131313b5;
  box-shadow: 0 2px 10px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  position: static;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 5px 10px;
  position: fixed;
  top: 10px;
}

@media (max-width: 480px) {
  .navLinks {
    left: 0;
    right: 0;
    bottom: 20px;
    top: auto;
  }
}

.navLinksFilled {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}

.navLinksItem {
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
  z-index: 2;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid grey;
}

.navLinksItemActive {
  color: rgb(73, 186, 230);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
  z-index: 2;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid grey;
}
